@model BeSafeWebApp.Contracts.Models.HomeModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="/">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Category</li>
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Category</h1>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-md-12">
        <!-- Horizontal Form -->
        <div class="panel panel-success">

            <!-- /.panel-header -->
            <!-- form start -->
            <div class="form-horizontal">
                <div class="panel-body">
                    <div class="panel-header with-border">
                        <h2 class="panel-title text-center" style="margin-top: 10px">DÉFINIR L'ARBORESCENCE</h2>
                    </div>

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        @await Html.PartialAsync("_ViewAllCategory", Model.categories)
                    </div>

                    <div class="col-md-12 " style="margin-top:15px;">
                        <a onclick="showInPopup('@Url.Action("AddOrEditCategory","Category",null,Context.Request.Scheme)','Ajouter nouveau dossier')" class="btn btn-success text-left">
                            <span class="glyphicon glyphicon-plus"></span> Ajouter nouveau dossier
                        </a>
                        @*<button class="btn btn-success text-left" id="AddCatagory" value=""><span class="glyphicon glyphicon-plus"></span> Ajouter nouveau dossier</button>*@
                    </div>
                    @*<div class="col-md-12 " style="margin-top:15px;">
                            <button class="btn btn-warning text-primary text-center" id="Valider" value=""><span class="glyphicon glyphicon-ok"></span> Valider</button>
                        </div>*@
                </div>
                <!-- /.panel-body -->
                <div class="panel-footer">
                    <div class="col-sm-offset-3 col-sm-6 text-center">
                    </div>
                </div>
                <!-- /.box-footer -->
            </div>
        </div>
    </div>

</div><!--/.row-->

<div class="modal" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            DeleteCategoryItem = (url, id, catid) => {
                debugger;
                if (confirm('Are you sure to delete this record ?')) {
                    try {
                        $.ajax({
                            type: 'POST',
                            url: url,
                            data: { ItemId: id, CategoryId: catid },
                            contentType: 'application/x-www-form-urlencoded',
                            // contentType: "application/json",
                            // dataType: 'json',
                            //contentType: false,
                            //processData: false,
                            success: function (res) {
                                //$('#view-all').html(res.html);
                                var catdiv = '#divCategoryMasterItemPanel' + catid;
                                $(catdiv).html(res.html);
                                // $('#accordion').html(res.html)
                            },
                            error: function (err) {
                                console.log(err)
                            }
                        })
                    } catch (ex) {
                        console.log(ex)
                    }
                }

                //prevent default form submit event
                return false;
            }
        });
    </script>
}
