<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BeSafeContainer" connectionString="metadata=res://*/BeSafe.csdl|res://*/BeSafe.ssdl|res://*/BeSafe.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=&quot;C:\Users\kaisz\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\mssqllocaldb\BeSafeDB.mdf&quot;;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>