<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BeSafeContainer" connectionString="Data Source=tcp:besafewebappdbserver.database.windows.net,1433;Initial Catalog=BeSafeDB;User Id=kais0051@besafewebappdbserver;Password=.Astek30" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>