@model BeSafeWebApp.Contracts.Models.MasterItemsSet

@{ Layout = null; }

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEditCategoryItem" asp-controller="MasterItemSet" asp-route-id="@Model.ItemId" onsubmit="return jQueryAjaxPostForCategoryItem(this);" enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoryId" />
            <input type="hidden" asp-for="itemAction" />
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" type="text" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemType"></label>
                <select class="form-control"
                        asp-for="ItemType"
                        asp-items="@(new SelectList(Model.ItemTypeList, "Name","Type"))">
                    <option value="">- Select -</option>
                </select>

                <span asp-validation-for="ItemType" class="text-danger"></span>
            </div>
            <div class="form-group" id="divitemlink" style="display:none">
                <label asp-for="ItemLink"></label>
                <input asp-for="ItemLink" class="form-control" />

                <span asp-validation-for="ItemLink" class="text-danger"></span>
            </div>
            <div class="form-group" id="divuploaditem" style="display:none">
                <label asp-for="UploadFile" class="control-label"></label>
                <input asp-for="UploadFile" class="form-control-file" />
                <span asp-validation-for="UploadFile"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#ItemType').change(function () {
            debugger;
            var ddlValue = $(this).val();

            if (ddlValue == "Document" || ddlValue == "Image") {
                $('#divuploaditem').show();
                $('#divitemlink').hide();
            }
            else if (ddlValue == "Lien" || ddlValue == "AUTRE") {
                $('#divitemlink').show();
                $('#divuploaditem').hide();
            }
        });
    });
</script>

