@model IEnumerable<BeSafeWebApp.Contracts.Models.MasterItemsSet>

<div class="col-md-12 form-group">
    @foreach (var masterItem in Model)
    {
    <div class="form-group">
        <a asp-controller="Admin"
           asp-action="Download"
           asp-route-id="@masterItem.ItemLink">Click Here to Download : @masterItem.Name</a>
        <a href="#" class="remove_field exit-btn">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>}
</div>
