@model IEnumerable<BeSafeWebApp.Contracts.Models.MasterItemsSet>

<div class="col-md-12 form-group">
    @foreach (var masterItem in Model)
    {

<input type="text" name="ctgtext[]" class="form-control" style="width: 40%;float: left;">
                <a href="#" class="remove_field exit-btn">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>}
</div>
