@model BeSafeWebApp.Contracts.Models.Category

@{ Layout = null; }

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEditCategory" asp-route-id="@Model.CategoryId" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoryId" />
            <input type="hidden" asp-for="ParentCategoryId" />
            <input type="hidden" asp-for="categoryAction" />
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input asp-for="CategoryName" class="form-control" />
                </div>
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input asp-for="Remarks" class="form-control" />
                </div>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>
