@model BeSafeWebApp.Contracts.Models.User
@{
    ViewData["Title"] = "Home Page";
}
<style>

    #accordion .panel-heading {
        padding: 0;
    }

    #accordion .panel-title > a {
        display: block;
        padding: 0.4em 0.6em;
        outline: none;
        font-weight: bold;
        text-decoration: none;
    }

        #accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before {
            content: "\e113";
            float: left;
            font-family: 'Glyphicons Halflings';
            margin-right: 1em;
        }

        #accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before {
            content: "\e114";
        }

    #accordion.panel-group .panel {
        margin-top: 5px;
    }

    #accordion .actions_div > a {
        font-size: 14px;
        margin-right: 15px;
    }

        #accordion .actions_div > a.exit-btn {
            color: #dd4b39;
        }

    #accordion .remove_field.exit-btn {
        color: #dd4b39;
        margin-left: 7px;
        float: left;
    }
</style>
<div class="panel panel-container">
    <div class="row">
        <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
            <div class="panel panel-teal panel-widget border-right">
                <div class="row no-padding">
                    <em class="fa fa-xl fa-shopping-cart color-blue"></em>
                    <div class="large">120</div>
                    <div class="text-muted">New Orders</div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
            <div class="panel panel-blue panel-widget border-right">
                <div class="row no-padding">
                    <em class="fa fa-xl fa-comments color-orange"></em>
                    <div class="large">52</div>
                    <div class="text-muted">Comments</div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
            <div class="panel panel-orange panel-widget border-right">
                <div class="row no-padding">
                    <em class="fa fa-xl fa-users color-teal"></em>
                    <div class="large">24</div>
                    <div class="text-muted">New Users</div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
            <div class="panel panel-red panel-widget ">
                <div class="row no-padding">
                    <em class="fa fa-xl fa-search color-red"></em>
                    <div class="large">25.2k</div>
                    <div class="text-muted">Page Views</div>
                </div>
            </div>
        </div>
    </div><!--/.row-->
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Horizontal Form -->
        <div class="panel panel-success">

            <!-- /.panel-header -->
            <!-- form start -->
            <div class="form-horizontal">
                <div class="panel-body">
                    <div class="panel-header with-border">
                        <h2 class="panel-title text-center" style="margin-top: 10px">DÉFINIR L'ARBORESCENCE</h2>
                    </div>

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        @await Html.PartialAsync("_ViewAll", Model)
                    </div>

                    <div class="col-md-12 " style="margin-top:15px;">
                        <button class="btn btn-success text-left" id="AddCatagory" value=""><span class="glyphicon glyphicon-plus"></span> Ajouter nouveau dossier</button>
                    </div>

                    <div class="col-md-12 " style="margin-top:15px;">
                        <button class="btn btn-warning text-primary text-center" id="Valider" value=""><span class="glyphicon glyphicon-ok"></span> Valider</button>
                    </div>

                </div>
                <!-- /.panel-body -->
                <div class="panel-footer">
                    <div class="col-sm-offset-3 col-sm-6 text-center">

                    </div>

                </div>
                <!-- /.box-footer -->
            </div>
        </div>
    </div>

</div><!--/.row-->
@section Scripts {


}
